<!-- Header -->
<header>
	<a name="home"></a>
	<div class="company name">Floral Company</div>
	<div class="nav">
		<div><%= link_to 'Home', (root_path + '#home'), :class => 'btn btn-mini' %></div>
		<div><%= link_to 'Event Inquiry', (root_path + '#eventInquiry'), :class => 'btn btn-mini' %></div>
		<div><%= link_to 'Contact Info', (root_path + '#contactInfo'), :class => 'btn btn-mini' %></div>
	</div>

<!-- Masonry Image -->

<!-- Event Form -->
	<a name="eventInquiry"></a>

<!-- Contact Info -->
	<a name="contactInfo"></a>
</header>